.main-page-header {
  font-size: 20px;
}

.hr-10 {
  background: #ee1d24;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;

  border-top: 30px solid #ee1d24;
  margin-left: 40%;
  margin-top: 20%;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (orientation: landscape)  {

    .intro-logo {
      display: none;
    }

}

@media only screen
  and (min-device-width: 381px)
  and (max-device-width: 640px)
  and (orientation: landscape)  {

    .intro-logo-image {
      width: 20%;
    }

}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (orientation: portrait)  {

    .intro-logo-image {
      width: 30%;
    }

}
